<!DOCTYPE html>
<html lang="en">

<div class="container">

    <head class="head">
        <meta charset="UTF-8">
        <title>SLAM online basketball store</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>

    <body>
        <div class="header">
            <div class="menu">
                <a href="index.html"><img class="logo" src="../static/img/logo.jpg" alt="Logo"></a>
            </div>
            <div class="menu">
                <ul class="menu">
                    <li class="menu_list"><a href="../index">Главная</a></li>
                    <li class="menu_list"><a href="../catalogue">Каталог</a></li>
                    <li class="menu_list"><a href="../contacts">Контакты</a></li>
                </ul>
            </div>
        </div>

        <div class="main">
            <hr>
            <h1>Баскетбольный магазин SLAM</h1>
            <p>Если кровь в твоих висках стучит в такт мячу, отскакивающему от паркета; если для тебя
                шелест подошвы на асфальте – самый любимый звук; если чувство сладкой усталости после
                тренировки тебе знакомо, то у тебя и магазина SLAM много общего. Этот магазин предлагает всё
                для баскетбола и стритбола: кроссовки, форму, аксессуары, мячи, тренажеры от ведущих брендов
                в этой области, таких как Jordan, Nike, Adidas и другие.</p>
            <hr>
        </div>


        <footer class="footer">
            <p>Все права защищены &copy;</p>
        </footer>


    </body>
</div>


</html>
